@model InventoryApp.Models.PriceSetup

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PriceSetup</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemCategory.ItemCategoryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemCategory.ItemCategoryCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemInformation.ItemCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemInformation.ItemCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PriceSetupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
